:root {
  /* 比較デモ用の矩形の高さ */
  --rect-height: calc((100vh - 16px * 3) / 4);
}

* {
  margin: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  font-family: sans-serif;
}

body {
  min-height: 100%;
  display: grid;
  place-items: center;
  gap: 16px;
  background-color: #fff;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  color: white;
  padding: 18px;
  font-size: 1.2rem;
}

code {
  background-color: #eee;
  color: #333;
  padding: 4px 8px;
  border-radius: 4px;
}